@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}


.containerr{
  max-width: 1170px;
  margin: auto;
}
.roww{
  
  width: 100%;
}

.middle-bodycol-left{
  width: 20%;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
.middle-bodycol-right{
  width: 100%;
  padding: 0 15px;
}

.middle-bodycol p{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}
.btn{background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;;

}


